<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title"><%= category %></h1>
    </div>
</div>

<ul class="topcoat-list list">
    <% _.each(items, function(item) { %>
    <% _.each(item, function(itm) { %>
    <li class="topcoat-list__item">
        <p><%= itm.source %></p>
        <p> <%= itm.target %></p>
    </li>
    <% }); %>
    <% }); %>

</ul>
<!--<div class="topcoat-button-bar full">
    <div class="topcoat-button-bar__item">
        <a href="#newItem/<%= topicId %>/<%= category %>">
        <button class="topcoat-button-bar__button full" id="addNewItem">
           Add New Item</button></a>
    </div>
</div>-->





